<div class="appHeader"></div>
<div class="appRoot">
  <div class="container">
    <h2 class="text-center">Test technique WEB-ATRIO</h2>
    <h2 class="text-center">réalisé par Ngouffo Doric réalisé le {{ getDate() }}</h2>
  </div>
  <div class="container">
    <div>
      <h3>Initialisation du test technique</h3>
      <app-progress-bar [value]="critere1"></app-progress-bar>
      <div class="btn-group">
        <button class="btn btn-primary" (click)="resetCritere1()">Réinitialiser</button>
        <button class="button" (click)="minus10Critere1()">-10%</button>
        <button class="button" (click)="minus5Critere1()">-5%</button>
        <button class="btn btn-primary" (click)="add5Critere1()">+5%</button>
        <button class="btn btn-primary" (click)="add10Critere1()">+10%</button>
      </div>
    </div>
    <div>
      <h3>Avancement de la phase de développement</h3>
      <app-progress-bar [value]="critere2"></app-progress-bar>
      <div class="btn-group">
        <button class="button" (click)="resetCritere2()">Réinitialiser</button>
        <button class="button" (click)="minus10Critere2()">-10%</button>
        <button class="button" (click)="minus5Critere2()">-5%</button>
        <button class="button" (click)="add5Critere2()">+5%</button>
        <button class="button" (click)="add10Critere2()">+10%</button>
      </div>
    </div>
  </div>
</div>
<div class="appFooter"></div>
